@font-face {
    font-family: "Bellona";
    src: url("Bellona2-Regular.otf") format("opentype");
  }

  
h1 {
    font-family: "Arapey", sans-serif;
    font-weight: bold;
    color: white;
  }

h2 {
    font-family: "Overpass", sans-serif;
    color: white;
  }
  
nav {
    text-align: center;
    margin: auto;
    background-color: transparent;
}

p {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

body {
    background-image: url("/assets/images/hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: -1;
}

.navbar li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

  .Hero {
    margin-top: 40px;
    align-content: center;
    text-align: center;
  }

  .Hero h1 {
    font-size: 75px;
    margin: 90px;
    margin-bottom: 80px;
  }

  .whyHero {
    text-align: center;
  }

  .button {
    font-family: "Pontano Sans";
    background-color: #D8B1A2;
    border: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 40px;
    margin-top: 25px;
    border-radius: 20px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #C1A091; 
    color: white;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }

  .navButton {
    font-family: "Pontano Sans";
    font-weight: 500;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 100px;
    margin-top: 40px;
    transition-duration: 0.4s;
  }

  .navButton:hover {
    background-color: transparent;
    color: #DAC8C6;
    cursor: pointer;
  }

  footer {
    background-color: white;
  }